<!-- Help overlay -->
<div id="helpOverlay" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeHelp()">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="ocontainer">
            <div class="onavbar">
                <div class="helpTopTitle">
                    <h2>Controls</h2>
                </div>
                <div class="helpTopLeft">
                    You can pause/resume the broadcast using the pause button, this
                    stops your watch editor from updating whatever the teacher is
                    broadcasting.
                </div>
    
                <div class="helpTopMiddle">
                    The slider can be used to resize the editors.
                </div>
    
                <div class="helpTopRight">
                    You can also request code review from your teacher. Clicking this
                    button notifies your teacher that you want a code review.
                </div>
            </div>
            <div class="osidebar">
                <h2>Attendee list</h2>
                <p>
                    All class attendees are in this list, including your teacher.
                    Click their name to view their code. You can hide this list by
                    clicking the sidebar button.
                </p>
            </div>
            <div class="oec">
                <div class="owatch">
                    <h2>Watch people code</h2>
                    <p>
                    This is a read-only editor that displays code that your teacher
                    is broadcasting.
                    </p>
                </div>
                <div class="ocode">
                    <h2>Code to learn</h2>
                    <p>
                    This is your workspace. You can follow along with your teacher
                    or try something different.
                    </p>
                </div>
            </div>

            <div class="ochat">
                <h2>Chat here</h2>
                <p>Just good ol' chat.</p>
            </div>

            <div class="oterminal">
                <h2>Code output appears here</h2>
                <p>
                    Use CTRL+S/CMD+S to run your code. Code is run locally on your
                    browser, so be careful of memory leaks :)
                </p>
            </div>
        </div>
    </div>
</div>