<!-- Help overlay -->
<div id="helpOverlay" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeHelp()">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="ocontainer">
            <div class="onavbar">
                <div class="helpTopTitle">
                    <h2>Controls</h2>
                </div>
                <div class="helpTopLeft">
                </div>
    
                <div class="helpTopMiddle">
                    The slider can be used to resize the editors.
                </div>
    
                <div class="helpTopRight">
                </div>
            </div>
            <div class="osidebar">
                <h2>Attendee list</h2>
                <p>
                    All class attendees are in this list, including yourself.
                    Click a students' name to view their code. You can hide this list by
                    clicking the sidebar button.
                </p>
            </div>
            <div class="oec">
                <div class="owatch">
                    <h2>Broadcast your code</h2>
                    <p>
                    Everything you type in here will be broadcast to all students, in real-time. Careful, it's HOT! <span>🔥</span>
                    </p>
                </div>
                <div class="ocode">
                    <h2>Check up on students</h2>
                    <p>
                    Students' code will show up here if you click their names. This is one-way, they can't see changes you make (yet.)
                    You can also use this as a secondary workspace for your eyes only.
                    </p>
                </div>
            </div>

            <div class="ochat">
                <h2>Chat here</h2>
                <p>Just good ol' chat.</p>
            </div>

            <div class="oterminal">
                <h2>Code output appears here</h2>
                <p>
                    Use CTRL+S/CMD+S to run your code. Code is run locally on your
                    browser, so be careful of memory leaks :)
                </p>
            </div>
        </div>
    </div>
</div>